In [38]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np
import os

In [3]:
def Read_Parquet(chemin):
  return pd.read_parquet(chemin, engine='fastparquet')

In [27]:
test_path = 'C:/Users/alaek/DEFI_IA/france_meteo/Défi_IA/input/imputed_data/first_eng_final_imputed_test_x_station.gzip'
train_path = 'C:/Users/alaek/DEFI_IA/france_meteo/Défi_IA/input/imputed_data/first_eng_final_imputed_train_x_station.gzip'
coords_path = 'C:/Users/alaek/DEFI_IA/france_meteo/Défi_IA/input/other/stations_coordinates.csv'
y_train_path = 'C:/Users/alaek/DEFI_IA/france_meteo/Défi_IA/input/Train/X_stations/Y_train.csv'

In [5]:
train = Read_Parquet(train_path)
train.head()

,temp,precip,humidity,wind_direction,wind_speed,dew_point_temp,number_sta,date,Id,lat,lon,height_sta,Month,season,Vx,Vy
index,,,,,,,,,,,,,,,,
0,279.28,0.0,91.4,200.0,3.05,277.97,14066001,2016-01-01 00:00:00,14066001_0_0,49.334,-0.431,2,1,winter,-2.866062,-1.043161
1,278.76,0.0,91.4,190.0,2.57,277.45,14066001,2016-01-01 01:00:00,14066001_0_1,49.334,-0.431,2,1,winter,-2.530956,-0.446276
2,278.27,0.0,91.7,181.0,2.26,277.02,14066001,2016-01-01 02:00:00,14066001_0_2,49.334,-0.431,2,1,winter,-2.259656,-0.039442
3,277.98,0.0,93.0,159.0,2.62,276.95,14066001,2016-01-01 03:00:00,14066001_0_3,49.334,-0.431,2,1,winter,-2.445981,0.938924
4,277.32,0.0,95.9,171.0,2.99,276.72,14066001,2016-01-01 04:00:00,14066001_0_4,49.334,-0.431,2,1,winter,-2.953188,0.467739

In [6]:
test= Read_Parquet(test_path)
test.head()

,temp,precip,humidity,wind_direction,wind_speed,dew_point_temp,Id,number_sta,lat,lon,height_sta,day_index,Hour,Month,season,Vx,Vy
index,,,,,,,,,,,,,,,,,
0,278.35,0.13,92.23,191.75,4.66,277.18,14047002_277_4,14047002,49.275,-0.712,60,277,4,12,winter,-4.562352,-0.948971
1,278.40,0.00,91.18,184.79,4.79,277.06,14047002_277_5,14047002,49.275,-0.712,60,277,5,12,winter,-4.773271,-0.399984
2,279.01,0.00,91.80,183.92,4.60,277.79,14047002_277_6,14047002,49.275,-0.712,60,277,6,12,winter,-4.589238,-0.314472
3,279.66,0.00,93.41,179.11,5.17,278.65,14047002_277_7,14047002,49.275,-0.712,60,277,7,12,winter,-5.169376,0.080305
4,279.99,0.00,94.04,181.35,5.86,279.10,14047002_277_8,14047002,49.275,-0.712,60,277,8,12,winter,-5.858373,-0.138060

In [7]:
def day_id(line):
  line = str(line)
  sta = line.split('_')[0]
  day = line.split('_')[1]
  return "_".join([sta, day])

In [8]:
train["Index"] = train["Id"].apply(day_id)

In [9]:
test["Index"] = test["Id"].apply(day_id)

In [10]:
train["date"] = train["date"].dt.date

In [11]:
train.head()

,temp,precip,humidity,wind_direction,wind_speed,dew_point_temp,number_sta,date,Id,lat,lon,height_sta,Month,season,Vx,Vy,Index
index,,,,,,,,,,,,,,,,,
0,279.28,0.0,91.4,200.0,3.05,277.97,14066001,2016-01-01,14066001_0_0,49.334,-0.431,2,1,winter,-2.866062,-1.043161,14066001_0
1,278.76,0.0,91.4,190.0,2.57,277.45,14066001,2016-01-01,14066001_0_1,49.334,-0.431,2,1,winter,-2.530956,-0.446276,14066001_0
2,278.27,0.0,91.7,181.0,2.26,277.02,14066001,2016-01-01,14066001_0_2,49.334,-0.431,2,1,winter,-2.259656,-0.039442,14066001_0
3,277.98,0.0,93.0,159.0,2.62,276.95,14066001,2016-01-01,14066001_0_3,49.334,-0.431,2,1,winter,-2.445981,0.938924,14066001_0
4,277.32,0.0,95.9,171.0,2.99,276.72,14066001,2016-01-01,14066001_0_4,49.334,-0.431,2,1,winter,-2.953188,0.467739,14066001_0

In [12]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
temp,4409474.0,2.849048e+02,6.622700e+00,2.338000e+02,2.803600e+02,2.844900e+02,2.892600e+02,3.250700e+02
precip,4409474.0,8.180664e-02,4.361703e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.100000e+01
humidity,4409474.0,8.094354e+01,1.528595e+01,1.000000e+00,7.195508e+01,8.504525e+01,9.318824e+01,1.000000e+02
wind_direction,4409474.0,1.899262e+02,8.906184e+01,0.000000e+00,1.150000e+02,2.070620e+02,2.590000e+02,3.600000e+02
wind_speed,4409474.0,3.541707e+00,2.334956e+00,0.000000e+00,1.920000e+00,3.071584e+00,4.630000e+00,3.311000e+01
dew_point_temp,4409474.0,2.813443e+02,5.278341e+00,2.223500e+02,2.775706e+02,2.816500e+02,2.854673e+02,3.246700e+02
number_sta,4409474.0,4.855334e+07,2.192245e+07,1.406600e+07,2.916800e+07,4.411700e+07,6.254800e+07,9.569000e+07
lat,4409474.0,4.805201e+01,1.008671e+00,4.627600e+01,4.722800e+01,4.806900e+01,4.872200e+01,5.096000e+01
lon,4409474.0,-5.551830e-01,1.862247e+00,-5.058000e+00,-1.690000e+00,-2.340000e-01,9.770000e-01,1.993000e+00
height_sta,4409474.0,1.066338e+02,6.918203e+01,2.000000e+00,5.300000e+01,1.040000e+02,1.480000e+02,3.360000e+02
Month,4409474.0,6.523848e+00,3.447882e+00,1.000000e+00,4.000000e+00,7.000000e+00,1.000000e+01,1.200000e+01
Vx,4409474.0,-6.217748e-01,2.685717e+00,-3.084856e+01,-2.082583e+00,-5.897681e-01,9.308230e-01,2.785730e+01
Vy,4409474.0,-9.153124e-01,3.091639e+00,-3.097185e+01,-2.788552e+00,-9.241094e-01,1.154900e+00,2.058542e+01

In [13]:
def percentile(n):
    def percentile_(x):
        return np.percentile(x, n)
    percentile_.__name__ = 'percentile_%s' % n
    return percentile_

In [14]:
from scipy.stats import kurtosis
from scipy.stats import skew
from statistics import mode

In [15]:
train[['lat','lon','height_sta','Month']] = train[['lat','lon','height_sta','Month']].astype('int16')

In [16]:
test[['lat','lon','height_sta','Month']] = test[['lat','lon','height_sta','Month']].astype('int16')

In [17]:
test.head()

,temp,precip,humidity,wind_direction,wind_speed,dew_point_temp,Id,number_sta,lat,lon,height_sta,day_index,Hour,Month,season,Vx,Vy,Index
index,,,,,,,,,,,,,,,,,,
0,278.35,0.13,92.23,191.75,4.66,277.18,14047002_277_4,14047002,49,0,60,277,4,12,winter,-4.562352,-0.948971,14047002_277
1,278.40,0.00,91.18,184.79,4.79,277.06,14047002_277_5,14047002,49,0,60,277,5,12,winter,-4.773271,-0.399984,14047002_277
2,279.01,0.00,91.80,183.92,4.60,277.79,14047002_277_6,14047002,49,0,60,277,6,12,winter,-4.589238,-0.314472,14047002_277
3,279.66,0.00,93.41,179.11,5.17,278.65,14047002_277_7,14047002,49,0,60,277,7,12,winter,-5.169376,0.080305,14047002_277
4,279.99,0.00,94.04,181.35,5.86,279.10,14047002_277_8,14047002,49,0,60,277,8,12,winter,-5.858373,-0.138060,14047002_277

In [18]:
train_agg = train.groupby(['Index']).agg(
                                            {'temp': ['min', 'max','mean','median',percentile(25),percentile(75), skew, kurtosis],
                                             'humidity': ['min', 'max','mean','median',percentile(25),percentile(75), skew, kurtosis],
                                             'dew_point_temp': ['min', 'max','mean','median',percentile(25),percentile(75),skew, kurtosis],
                                             'Vx': ['min', 'max','mean','median',percentile(25),percentile(75),skew, kurtosis],
                                             'Vy': ['min', 'max','mean','median',percentile(25),percentile(75),skew, kurtosis],
                                             'precip': ['sum','min', 'max','mean','median',percentile(25),percentile(75),skew, kurtosis],
                                             'Month':pd.Series.unique,
                                             'season':pd.Series.unique,
                                             'number_sta':pd.Series.unique,# for further check 
                                             'date':pd.Series.unique,# for further check
                                             })

In [19]:
train_agg.columns = ["_".join(x) for x in train_agg.columns.ravel()]
train_agg.head()

C:\Users\alaek\AppData\Local\Temp\ipykernel_15484\1616312841.py:1: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  train_agg.columns = ["_".join(x) for x in train_agg.columns.ravel()]

,temp_min,temp_max,temp_mean,temp_median,temp_percentile_25,temp_percentile_75,temp_skew,temp_kurtosis,humidity_min,humidity_max,...,precip_mean,precip_median,precip_percentile_25,precip_percentile_75,precip_skew,precip_kurtosis,Month_unique,season_unique,number_sta_unique,date_unique
Index,,,,,,,,,,,,,,,,,,,,,
14066001_0,276.91,282.59,280.333750,281.325,278.5100,282.1750,-0.445114,-1.418811,79.9,98.1,...,0.008333,0.0,0.0,0.00,4.587317,19.043478,1,winter,14066001,2016-01-01
14066001_1,280.65,284.37,282.936667,282.870,282.1925,283.9625,-0.204054,-0.728304,71.8,92.0,...,0.141667,0.0,0.0,0.05,2.768227,7.524247,1,winter,14066001,2016-01-02
14066001_10,277.91,281.33,279.557917,279.520,279.1575,280.1750,0.097627,-0.208982,81.4,92.6,...,0.250000,0.0,0.0,0.40,2.517940,5.760873,1,winter,14066001,2016-01-11
14066001_100,275.53,287.57,282.112917,283.950,276.8575,285.5100,-0.439847,-1.378881,56.1,90.3,...,0.483333,0.0,0.0,0.00,4.410995,17.920294,4,winter,14066001,2016-04-10
14066001_101,279.29,285.41,282.805000,282.720,282.2225,284.0125,-0.378186,-0.411371,76.8,95.2,...,0.233333,0.0,0.0,0.00,2.538396,5.073702,4,winter,14066001,2016-04-11

In [20]:
train_agg.rename(columns={"Month_unique":"Month","season_unique":"season",	"number_sta_unique":"number_sta",	"date_unique":"date"},inplace=True)

In [21]:
train_agg[["Month","season"]] = train_agg[["Month","season"]].astype('category')

In [22]:
train_agg.head()

,temp_min,temp_max,temp_mean,temp_median,temp_percentile_25,temp_percentile_75,temp_skew,temp_kurtosis,humidity_min,humidity_max,...,precip_mean,precip_median,precip_percentile_25,precip_percentile_75,precip_skew,precip_kurtosis,Month,season,number_sta,date
Index,,,,,,,,,,,,,,,,,,,,,
14066001_0,276.91,282.59,280.333750,281.325,278.5100,282.1750,-0.445114,-1.418811,79.9,98.1,...,0.008333,0.0,0.0,0.00,4.587317,19.043478,1,winter,14066001,2016-01-01
14066001_1,280.65,284.37,282.936667,282.870,282.1925,283.9625,-0.204054,-0.728304,71.8,92.0,...,0.141667,0.0,0.0,0.05,2.768227,7.524247,1,winter,14066001,2016-01-02
14066001_10,277.91,281.33,279.557917,279.520,279.1575,280.1750,0.097627,-0.208982,81.4,92.6,...,0.250000,0.0,0.0,0.40,2.517940,5.760873,1,winter,14066001,2016-01-11
14066001_100,275.53,287.57,282.112917,283.950,276.8575,285.5100,-0.439847,-1.378881,56.1,90.3,...,0.483333,0.0,0.0,0.00,4.410995,17.920294,4,winter,14066001,2016-04-10
14066001_101,279.29,285.41,282.805000,282.720,282.2225,284.0125,-0.378186,-0.411371,76.8,95.2,...,0.233333,0.0,0.0,0.00,2.538396,5.073702,4,winter,14066001,2016-04-11

In [23]:
test_agg = test.groupby(['Index']).agg(
                                             {'temp': ['min', 'max','mean','median',percentile(25),percentile(75), skew, kurtosis],
                                             'humidity': ['min', 'max','mean','median',percentile(25),percentile(75), skew, kurtosis],
                                             'dew_point_temp': ['min', 'max','mean','median',percentile(25),percentile(75),skew, kurtosis],
                                             'Vx': ['min', 'max','mean','median',percentile(25),percentile(75),skew, kurtosis],
                                             'Vy': ['min', 'max','mean','median',percentile(25),percentile(75),skew, kurtosis],
                                             'precip': ['sum','min', 'max','mean','median',percentile(25),percentile(75),skew, kurtosis],
                                             'Month':pd.Series.unique,
                                             'season':pd.Series.unique,
                                             'number_sta':pd.Series.unique,
                                             })

In [24]:
test_agg.columns = ["_".join(x) for x in test_agg.columns.ravel()]
test_agg.head()

C:\Users\alaek\AppData\Local\Temp\ipykernel_15484\2097447680.py:1: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  test_agg.columns = ["_".join(x) for x in test_agg.columns.ravel()]

,temp_min,temp_max,temp_mean,temp_median,temp_percentile_25,temp_percentile_75,temp_skew,temp_kurtosis,humidity_min,humidity_max,...,precip_max,precip_mean,precip_median,precip_percentile_25,precip_percentile_75,precip_skew,precip_kurtosis,Month_unique,season_unique,number_sta_unique
Index,,,,,,,,,,,,,,,,,,,,,
14047002_100,281.86,283.24,282.565000,282.515,282.2875,282.835,-0.000790,-0.932193,88.36,98.46,...,2.1,0.412500,0.000,0.0,0.45,1.483913,0.656080,12,winter,14047002
14047002_223,283.69,286.43,285.415000,285.400,284.9400,285.905,-0.519703,-0.350026,75.69,96.88,...,0.6,0.033333,0.000,0.0,0.00,3.989829,14.892857,12,winter,14047002
14047002_236,282.42,284.47,283.064167,282.990,282.6450,283.215,1.358096,1.388465,79.28,93.26,...,2.6,0.291667,0.000,0.0,0.30,2.813251,8.290722,12,winter,14047002
14047002_256,278.88,286.40,283.611250,284.625,282.3075,285.575,-0.792405,-0.848946,77.21,96.76,...,1.6,0.166667,0.000,0.0,0.00,2.514334,5.405663,12,winter,14047002
14047002_277,278.35,283.85,282.006000,283.040,280.4550,283.405,-0.869940,-0.830229,87.36,94.17,...,2.4,0.536500,0.165,0.0,0.65,1.414487,0.573291,12,winter,14047002

In [25]:
test_agg.rename(columns={"Month_unique":"Month","season_unique":"season",	"number_sta_unique":"number_sta"},inplace=True)
test_agg.head()

,temp_min,temp_max,temp_mean,temp_median,temp_percentile_25,temp_percentile_75,temp_skew,temp_kurtosis,humidity_min,humidity_max,...,precip_max,precip_mean,precip_median,precip_percentile_25,precip_percentile_75,precip_skew,precip_kurtosis,Month,season,number_sta
Index,,,,,,,,,,,,,,,,,,,,,
14047002_100,281.86,283.24,282.565000,282.515,282.2875,282.835,-0.000790,-0.932193,88.36,98.46,...,2.1,0.412500,0.000,0.0,0.45,1.483913,0.656080,12,winter,14047002
14047002_223,283.69,286.43,285.415000,285.400,284.9400,285.905,-0.519703,-0.350026,75.69,96.88,...,0.6,0.033333,0.000,0.0,0.00,3.989829,14.892857,12,winter,14047002
14047002_236,282.42,284.47,283.064167,282.990,282.6450,283.215,1.358096,1.388465,79.28,93.26,...,2.6,0.291667,0.000,0.0,0.30,2.813251,8.290722,12,winter,14047002
14047002_256,278.88,286.40,283.611250,284.625,282.3075,285.575,-0.792405,-0.848946,77.21,96.76,...,1.6,0.166667,0.000,0.0,0.00,2.514334,5.405663,12,winter,14047002
14047002_277,278.35,283.85,282.006000,283.040,280.4550,283.405,-0.869940,-0.830229,87.36,94.17,...,2.4,0.536500,0.165,0.0,0.65,1.414487,0.573291,12,winter,14047002

In [26]:
test_agg[["Month","season"]] = test_agg[["Month","season"]].astype('category')

In [28]:
## Reading the 325 stations accross the NW of France
coords = pd.read_csv(coords_path)
coords.head()

   number_sta     lat    lon  height_sta
0    86118001  46.477  0.985       120.0
1    86149001  46.917  0.025        60.0
2    56081003  48.050 -3.660       165.0
3    53215001  47.790 -0.710        63.0
4    22135001  48.550 -3.380       148.0

In [29]:
train_merge = train_agg.reset_index().merge(coords, on=['number_sta'], how='left')
train_merge.head()

,Index,temp_min,temp_max,temp_mean,temp_median,temp_percentile_25,temp_percentile_75,temp_skew,temp_kurtosis,humidity_min,...,precip_percentile_75,precip_skew,precip_kurtosis,Month,season,number_sta,date,lat,lon,height_sta
0,14066001_0,276.91,282.59,280.333750,281.325,278.5100,282.1750,-0.445114,-1.418811,79.9,...,0.00,4.587317,19.043478,1,winter,14066001,2016-01-01,49.334,-0.431,2.0
1,14066001_1,280.65,284.37,282.936667,282.870,282.1925,283.9625,-0.204054,-0.728304,71.8,...,0.05,2.768227,7.524247,1,winter,14066001,2016-01-02,49.334,-0.431,2.0
2,14066001_10,277.91,281.33,279.557917,279.520,279.1575,280.1750,0.097627,-0.208982,81.4,...,0.40,2.517940,5.760873,1,winter,14066001,2016-01-11,49.334,-0.431,2.0
3,14066001_100,275.53,287.57,282.112917,283.950,276.8575,285.5100,-0.439847,-1.378881,56.1,...,0.00,4.410995,17.920294,4,winter,14066001,2016-04-10,49.334,-0.431,2.0
4,14066001_101,279.29,285.41,282.805000,282.720,282.2225,284.0125,-0.378186,-0.411371,76.8,...,0.00,2.538396,5.073702,4,winter,14066001,2016-04-11,49.334,-0.431,2.0

In [30]:
test_merge = test_agg.reset_index().merge(coords, on=['number_sta'], how='left')
test_merge.head()

,Index,temp_min,temp_max,temp_mean,temp_median,temp_percentile_25,temp_percentile_75,temp_skew,temp_kurtosis,humidity_min,...,precip_percentile_25,precip_percentile_75,precip_skew,precip_kurtosis,Month,season,number_sta,lat,lon,height_sta
0,14047002_100,281.86,283.24,282.565000,282.515,282.2875,282.835,-0.000790,-0.932193,88.36,...,0.0,0.45,1.483913,0.656080,12,winter,14047002,49.275,-0.712,60.0
1,14047002_223,283.69,286.43,285.415000,285.400,284.9400,285.905,-0.519703,-0.350026,75.69,...,0.0,0.00,3.989829,14.892857,12,winter,14047002,49.275,-0.712,60.0
2,14047002_236,282.42,284.47,283.064167,282.990,282.6450,283.215,1.358096,1.388465,79.28,...,0.0,0.30,2.813251,8.290722,12,winter,14047002,49.275,-0.712,60.0
3,14047002_256,278.88,286.40,283.611250,284.625,282.3075,285.575,-0.792405,-0.848946,77.21,...,0.0,0.00,2.514334,5.405663,12,winter,14047002,49.275,-0.712,60.0
4,14047002_277,278.35,283.85,282.006000,283.040,280.4550,283.405,-0.869940,-0.830229,87.36,...,0.0,0.65,1.414487,0.573291,12,winter,14047002,49.275,-0.712,60.0

In [31]:
y_train = pd.read_csv(y_train_path)
y_train.rename(columns={'Id':'Index','date':'target_date','number_sta':'target_number_sta'}, inplace=True)
y_train.set_index('Index', inplace=True)
y_train.head()

           target_date  target_number_sta  Ground_truth
Index
14066001_0  2016-01-02           14066001           3.4
14126001_0  2016-01-02           14126001           0.5
14137001_0  2016-01-02           14137001           3.4
14216001_0  2016-01-02           14216001           4.0
14296001_0  2016-01-02           14296001          13.3

In [ ]:
y_train.shape

(183747, 4)

In [ ]:
y_train.isna().sum()

date                0
number_sta          0
Ground_truth    21640
Id                  0
dtype: int64

In [ ]:
y_train.head()

                  date  number_sta  Ground_truth
Index
14066001_0  2016-01-02    14066001           3.4
14126001_0  2016-01-02    14126001           0.5
14137001_0  2016-01-02    14137001           3.4
14216001_0  2016-01-02    14216001           4.0
14296001_0  2016-01-02    14296001          13.3

In [32]:
train_concat = pd.concat([train_merge.set_index('Index'),y_train],verify_integrity=True, axis=1)
train_concat.head()

,temp_min,temp_max,temp_mean,temp_median,temp_percentile_25,temp_percentile_75,temp_skew,temp_kurtosis,humidity_min,humidity_max,...,Month,season,number_sta,date,lat,lon,height_sta,target_date,target_number_sta,Ground_truth
Index,,,,,,,,,,,,,,,,,,,,,
14066001_0,276.91,282.59,280.333750,281.325,278.5100,282.1750,-0.445114,-1.418811,79.9,98.1,...,1,winter,14066001.0,2016-01-01,49.334,-0.431,2.0,2016-01-02,14066001.0,3.4
14066001_1,280.65,284.37,282.936667,282.870,282.1925,283.9625,-0.204054,-0.728304,71.8,92.0,...,1,winter,14066001.0,2016-01-02,49.334,-0.431,2.0,2016-01-03,14066001.0,11.7
14066001_10,277.91,281.33,279.557917,279.520,279.1575,280.1750,0.097627,-0.208982,81.4,92.6,...,1,winter,14066001.0,2016-01-11,49.334,-0.431,2.0,2016-01-12,14066001.0,1.0
14066001_100,275.53,287.57,282.112917,283.950,276.8575,285.5100,-0.439847,-1.378881,56.1,90.3,...,4,winter,14066001.0,2016-04-10,49.334,-0.431,2.0,2016-04-11,14066001.0,5.6
14066001_101,279.29,285.41,282.805000,282.720,282.2225,284.0125,-0.378186,-0.411371,76.8,95.2,...,4,winter,14066001.0,2016-04-11,49.334,-0.431,2.0,2016-04-12,14066001.0,3.2

In [33]:
train_concat.dropna(subset=['Ground_truth'], inplace=True)

In [34]:
train_concat[train_concat.number_sta!=train_concat.target_number_sta]

Empty DataFrame
Columns: [temp_min, temp_max, temp_mean, temp_median, temp_percentile_25, temp_percentile_75, temp_skew, temp_kurtosis, humidity_min, humidity_max, humidity_mean, humidity_median, humidity_percentile_25, humidity_percentile_75, humidity_skew, humidity_kurtosis, dew_point_temp_min, dew_point_temp_max, dew_point_temp_mean, dew_point_temp_median, dew_point_temp_percentile_25, dew_point_temp_percentile_75, dew_point_temp_skew, dew_point_temp_kurtosis, Vx_min, Vx_max, Vx_mean, Vx_median, Vx_percentile_25, Vx_percentile_75, Vx_skew, Vx_kurtosis, Vy_min, Vy_max, Vy_mean, Vy_median, Vy_percentile_25, Vy_percentile_75, Vy_skew, Vy_kurtosis, precip_sum, precip_min, precip_max, precip_mean, precip_median, precip_percentile_25, precip_percentile_75, precip_skew, precip_kurtosis, Month, season, number_sta, date, lat, lon, height_sta, target_date, target_number_sta, Ground_truth]
Index: []

[0 rows x 59 columns]

In [35]:
train_concat.drop(['number_sta','target_date','target_number_sta','date'], axis=1, inplace=True)

In [36]:
test_merge.head()

,Index,temp_min,temp_max,temp_mean,temp_median,temp_percentile_25,temp_percentile_75,temp_skew,temp_kurtosis,humidity_min,...,precip_percentile_25,precip_percentile_75,precip_skew,precip_kurtosis,Month,season,number_sta,lat,lon,height_sta
0,14047002_100,281.86,283.24,282.565000,282.515,282.2875,282.835,-0.000790,-0.932193,88.36,...,0.0,0.45,1.483913,0.656080,12,winter,14047002,49.275,-0.712,60.0
1,14047002_223,283.69,286.43,285.415000,285.400,284.9400,285.905,-0.519703,-0.350026,75.69,...,0.0,0.00,3.989829,14.892857,12,winter,14047002,49.275,-0.712,60.0
2,14047002_236,282.42,284.47,283.064167,282.990,282.6450,283.215,1.358096,1.388465,79.28,...,0.0,0.30,2.813251,8.290722,12,winter,14047002,49.275,-0.712,60.0
3,14047002_256,278.88,286.40,283.611250,284.625,282.3075,285.575,-0.792405,-0.848946,77.21,...,0.0,0.00,2.514334,5.405663,12,winter,14047002,49.275,-0.712,60.0
4,14047002_277,278.35,283.85,282.006000,283.040,280.4550,283.405,-0.869940,-0.830229,87.36,...,0.0,0.65,1.414487,0.573291,12,winter,14047002,49.275,-0.712,60.0

In [37]:
test_merge.drop(['number_sta'], axis=1, inplace=True)

In [39]:
train_concat.to_parquet(os.path.join('C:/Users/alaek/DEFI_IA/france_meteo/Défi_IA/input/imputed_data/',"X_Train_concat_y_train.gzip"), compression='gzip',engine='fastparquet')

In [ ]:
test_merge.to_parquet(os.path.join('C:/Users/alaek/DEFI_IA/france_meteo/Défi_IA/input/imputed_data/',"X_Test_merged_clean.gzip"), compression='gzip',engine='fastparquet')